.ant-card-body {
    padding: 0px !important;
}

.ant-card-bordered {
    margin: 2px !important;
}

.ant-card-head{
    font-size: 12px !important;
    min-height: 20px !important;
}

.ant-card-head-title{
    padding: 0 !important;
}

.f-32{
    font-size: 32px;
}

.p-16{
    line-height: 90px;
}